<div id="subscribe">

  <a href="http://feeds.feedburner.com/TheGarvin">
    <img src="/images/feed.png" title="Subscribe" alt="RSS Icon" />
  </a>

  <a href="http://www.twitter.com/coderifous">
    <img src="http://twitter-badges.s3.amazonaws.com/t_logo-b.png" title="See my tweets."/>
  </a>

  <a href="http://www.github.com/coderifous">
    <img src="/images/github.png" title="See my code on Github." alt="Github Icon" />
  </a>

  <a href="/images/JimAvatar.jpg" rel="facebox">
    <img src="/images/JimAvatar.jpg" title="See my face?" alt="My face" />
  </a>

</div>
